---
import { Image } from 'astro:assets';

const { title, url, description, pubDate, author, image, tags , index} = Astro.props;
---

<li>
  <a href={url} title={title} class="group max-h-65 min-h-65">
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm max-w-md mx-auto min-h-full">
      <Image
          class="w-full h-auto rounded-t-lg"
          src={image}
          alt={title}
          loading={index < 2 ? "eager" : "lazy"}
          width="600"
          height="300"
          style="aspect-ratio: 600 / 300; object-fit: cover;"
      />
      <div class="p-4">
        <p class="text-xs font-semibold text-muted-foreground">{tags}</p>
        <h2 class="mt-2 text-xl font-bold">
          {description}
        </h2>
        <div class="flex text-xs text-zinc-400">
          {pubDate}
        </div>
      </div>
    </div>
  </a>
</li>
